#work {
    background: #000;
    height: 100%;
    padding: 20px 0;
    @media (min-width: 640px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .custom-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-top: 3rem;
        gap: 1.25rem;
        width: 100%;

        @media (min-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .card-style {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            position: relative;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            box-shadow: 0 25px 50px -12px #00000040;

            @media (min-width: 640px) {
                padding: 2.5rem;
            }

            .spotlight {
                position: absolute;
                top: 0;
                right: 0;

                .image-style {
                    width: 100%;
                    height: 24rem;
                    object-fit: cover;
                    border-radius: 0.75rem;
                }

            }

            .logo-container {
                padding: 0.75rem;
                backdrop-filter: blur(64px);
                width: fit-content;
                border-radius: 0.5rem;

                .project-logo {
                    width: 2.5rem;
                    height: 2.5rem;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                }
            }

            .text-container {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                margin-top: 1.25rem;
                margin-bottom: 1.25rem;
                color: #d1d5db;

                >p {
                    font-size: 1rem;
                    line-height: 2rem;
                    font-weight: 600;
                    animation: fadeIn 1s ease-in-out;

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            transform: translateY(10px);
                        }

                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

            .technologies {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 1.25rem;

                .tech-logo-container {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;

                    .tech-logo {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 0.375rem;
                        padding: 0.5rem;

                        background-color: rgba(245, 245, 245, 0.1);

                        backdrop-filter: blur(16px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                >a {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    color: rgba(255, 255, 255, 0.6);
                    text-decoration: none;

                    >img {
                        width: 0.75rem;
                        height: 0.75rem;
                    }
                }
            }

            .arrow-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1.75rem;

                >button {
                    width: 2.5rem;
                    height: 2.5rem;
                    padding: 0.75rem;
                    cursor: pointer;
                    border: none;
                    border-radius: 9999px;
                    transition: all 0.2s ease-in-out;

                    background: linear-gradient(to right, #4f46e5, #3b82f6);

                    &:active {
                        transform: scale(0.95);
                    }

                    >img {
                        width: 90%;
                        height: 100%;
                    }
                }
            }
        }

        .computer-container {
            border: 1px solid #4b4b4b; 
            background-color: #000000dc; 
            border-radius: 0.5rem;
            height: 15rem;

            canvas{
                margin: auto;
                width: 80%!important;
                height: 80%!important;
            }

            @media (min-width: 768px) {
                height: 100%;
            }
        }

    }

}